<!-- add new -->
<div class="d-flex justify-content-end">
    <a class="btn btn-outline-secondary" id="VLTLkGETmEqX7tjiClvJjw">➕ Add</a>
</div>

<!-- filters -->
<div class="btn-group w-100 m-0 p-0">
    <% if (isTV) { %>
        <a href="/tvlist/<%= username %>" class="btn btn-outline-secondary text-decoration-none text-dark">All TV</a>
        <a href="/tvlist/<%= username %>?status=current" class="btn btn-outline-secondary text-decoration-none text-dark">Currently Watching</a>
        <a href="/tvlist/<%= username %>?status=completed" class="btn btn-outline-secondary text-decoration-none text-dark">Completed</a>
        <a href="/tvlist/<%= username %>?status=onhold" class="btn btn-outline-secondary text-decoration-none text-dark">On Hold</a>
        <a href="/tvlist/<%= username %>?status=dropped" class="btn btn-outline-secondary text-decoration-none text-dark">Dropped</a>
        <a href="/tvlist/<%= username %>?status=planned" class="btn btn-outline-secondary text-decoration-none text-dark">Plan to Watch</a>
    <% } else { %>
        <a href="/movielist/<%= username %>" class="btn btn-outline-secondary text-decoration-none text-dark">All Movies</a>
        <a href="/movielist/<%= username %>?status=current" class="btn btn-outline-secondary text-decoration-none text-dark">Currently Watching</a>
        <a href="/movielist/<%= username %>?status=completed" class="btn btn-outline-secondary text-decoration-none text-dark">Completed</a>
        <a href="/movielist/<%= username %>?status=onhold" class="btn btn-outline-secondary text-decoration-none text-dark">On Hold</a>
        <a href="/movielist/<%= username %>?status=dropped" class="btn btn-outline-secondary text-decoration-none text-dark">Dropped</a>
        <a href="/movielist/<%= username %>?status=planned" class="btn btn-outline-secondary text-decoration-none text-dark">Plan to Watch</a>
    <% } %>
</div>
<% if (isTV) { %>
    <form action="/searchOwnlist/tvlist" method="post">
<% } else { %>
    <form action="/searchOwnlist/movielist" method="post">
<% } %>
    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search" name="search" value="<%= search %>" />
        <button type="submit" class="btn btn-outline-primary" data-mdb-ripple-init>🔍</button>
    </div>
</form>
<table class="text-center w-100">
    <% if (data.length !== 0) { %>
        <tr class="border-bottom">
            <th class=""></th>
            <th class="ps-2 pe-2">#</th>
            <th class="ps-2 pe-2 col-md-1">Image</th>
            <th class="ps-2 pe-2">Title</th>
            <th class="ps-2 pe-2">Score</th>
            <th class="ps-2 pe-2">Type</th>
            <th></th>
            <th></th>
        </tr>
    <% } else { %>
        <div class="text-center">It's awfully quiet here ... 🦗</div>
    <% }%>
    <% for (let i = 0; i < data.length; i++) { %>
        <tr class="border-bottom">
            <td style="background-color: <%= status_colors[ data[i].status ] %>;">&nbsp;</td>
            <td><%= i+1 %></td>
            <td class="m-1"><img src="<%= data[i].image %>" height="128px" alt=<%= data[i].id %>></td>
            <td>
                <a 
                    target="_blank"
                    href="https://www.imdb.com/title/<%= data[i].imdb %>/"
                    class="me-auto fw-bold text-decoration-none fs-5"
                ><%= data[i].title %></a>
            </td>
            <td><%= data[i].score %></td>
            <td><%= data[i].type %></td>
            <td class="col-md-2"></td>
            <td><a class="rHdkJvYyW0u1OTH9XOi7nQ" style="cursor: pointer;">Edit</a></td>
        </tr>
    <% } %>
</table>