<!-- add new -->
<div class="d-flex justify-content-end">
    <a class="btn btn-outline-secondary" href="/showResults" id="d08f7ea0-d1df-4106-9434-844e1acffbfb">➕ Add Show</a>
</div>

<!-- filters -->
<div class="btn-group w-100 m-0 p-0">
    <a href="/tvlist" class="btn btn-outline-secondary text-decoration-none text-dark">All TV/Movies</a>
    <a href="/tvlist?status=current" class="btn btn-outline-secondary text-decoration-none text-dark">Currently Watching</a>
    <a href="/tvlist?status=completed" class="btn btn-outline-secondary text-decoration-none text-dark">Completed</a>
    <a href="/tvlist?status=onhold" class="btn btn-outline-secondary text-decoration-none text-dark">On Hold</a>
    <a href="/tvlist?status=dropped" class="btn btn-outline-secondary text-decoration-none text-dark">Dropped</a>
    <a href="/tvlist?status=planned" class="btn btn-outline-secondary text-decoration-none text-dark">Plan to Watch</a>
</div>
<form action="/search" method="post">
    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search" name="search" value="<%= search %>" />
        <button type="submit" class="btn btn-outline-primary" data-mdb-ripple-init>🔍</button>
    </div>
</form>
<table class="text-center w-100">
    <% if (data.length !== 0) { %>
        <tr class="border-bottom">
            <th></th>
            <th class="ps-2 pe-2">#</th>
            <th class="ps-2 pe-2 col-md-1">Image</th>
            <th class="ps-2 pe-2 text-start">Title</th>
            <th class="ps-2 pe-2">Score</th>
            <th class="ps-2 pe-2">Type</th>
            <th class="ps-2 pe-2">Progress</th>
            <th></th>
        </tr>
    <% } else { %>
        <div class="text-center">It's awfully quiet here ... 🦗</div>
    <% }%>
    <% for (let i = 0; i < data.length; i++) { %>
        <tr class="border-bottom">
            <td style="background-color: <%= status_colors[ data[i].status ] %>;">&nbsp;</td>
            <td><%= i+1 %></td>
            <td class="m-1"><img src="<%= data[i].image %>" height="128px"></td>
            <td>
                <a 
                    target="_blank"
                    href="https://www.imdb.com/title/<%= data[i].imdb %>/"
                    class="me-auto fw-bold text-decoration-none fs-5"
                ><%= data[i].title %></a>
            </td>
            <td><%= data[i].score %></td>
            <td><%= data[i].type %></td>
            <td>
                S<%= data[i].progress.season %>
                E<%= data[i].progress.episode %>
            </td>
            <td class="btn-group mt-4">
                <a href="/editShow?id=<%= data[i].id %>&status=completed" class="btn btn-outline-primary">✅ Completed</a>
                <a href="/editShow?id=<%= data[i].id %>&status=current" class="btn btn-outline-primary">🌊 Current</a>
                <a href="/editShow?id=<%= data[i].id %>&status=planned" class="btn btn-outline-secondary">🪴 Planned</a>
            </td>
        </tr>
    <% } %>
</table>

<!-- <script>
    function addShow() {
        count++;
        console.log(count);
    }

    const addShowButton = document.getElementById("d08f7ea0-d1df-4106-9434-844e1acffbfb");
    addShowButton.addEventListener("click", addShow);
</script> -->