<!-- add new -->
<div class="d-flex justify-content-end">
    <a class="btn btn-outline-secondary" id="VLTLkGETmEqX7tjiClvJjw">➕ Add Show</a>
</div>

<!-- filters -->
<div class="btn-group w-100 m-0 p-0">
    <a href="/tvlist/<%= username %>" class="btn btn-outline-secondary text-decoration-none text-dark">All TV/Movies</a>
    <a href="/tvlist/<%= username %>?status=current" class="btn btn-outline-secondary text-decoration-none text-dark">Currently Watching</a>
    <a href="/tvlist/<%= username %>?status=completed" class="btn btn-outline-secondary text-decoration-none text-dark">Completed</a>
    <a href="/tvlist/<%= username %>?status=onhold" class="btn btn-outline-secondary text-decoration-none text-dark">On Hold</a>
    <a href="/tvlist/<%= username %>?status=dropped" class="btn btn-outline-secondary text-decoration-none text-dark">Dropped</a>
    <a href="/tvlist/<%= username %>?status=planned" class="btn btn-outline-secondary text-decoration-none text-dark">Plan to Watch</a>
</div>
<form action="/search" method="post">
    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search" name="search" value="<%= search %>" />
        <button type="submit" class="btn btn-outline-primary" data-mdb-ripple-init>🔍</button>
    </div>
</form>
<table class="text-center w-100">
    <% if (data.length !== 0) { %>
        <tr class="border-bottom">
            <th></th>
            <th class="ps-2 pe-2">#</th>
            <th class="ps-2 pe-2 col-md-1">Image</th>
            <th class="ps-2 pe-2">Title</th>
            <th class="ps-2 pe-2">Score</th>
            <th class="ps-2 pe-2">Type</th>
            <% if (data[0].progress.length > 1) { %>
                <th class="ps-2 pe-2">Progress</th>
            <% } %>
            <th></th>
        </tr>
    <% } else { %>
        <div class="text-center">It's awfully quiet here ... 🦗</div>
    <% }%>
    <% for (let i = 0; i < data.length; i++) { %>
        <tr class="border-bottom">
            <td style="background-color: <%= status_colors[ data[i].status ] %>;">&nbsp;</td>
            <td><%= i+1 %></td>
            <td class="m-1"><img src="<%= data[i].image %>" height="128px"></td>
            <td>
                <a 
                    target="_blank"
                    href="https://www.imdb.com/title/<%= data[i].imdb %>/"
                    class="me-auto fw-bold text-decoration-none fs-5"
                ><%= data[i].title %></a>
            </td>
            <td><%= data[i].score %></td>
            <td><%= data[i].type %></td>
            <td>
                <% if (data[i].progress.length > 1) { %>
                    <span class="fw-bold">
                        S<%= data[i].progress.season %>&nbsp;
                        E<%= data[i].progress.episode %>
                    </span>
                <% } %>
            </td>
            <td><a href="#" class="rHdkJvYyW0u1OTH9XOi7nQ">Edit</a></td>
        </tr>
    <% } %>
</table>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const editButtons = document.getElementsByClassName("rHdkJvYyW0u1OTH9XOi7nQ");
        const addShowButton = document.getElementById("VLTLkGETmEqX7tjiClvJjw");
        const modal = document.getElementById("ogJCheREvEanzp9ff7DP9Q");

        for (let i = 0; i < editButtons.length; i++) {
            const btn = editButtons[i];
            btn.addEventListener("click", () => {
                const modal = document.getElementById("ogJCheREvEanzp9ff7DP9Q");
                modal.classList.toggle("d-none");
            });
        }

        addShowButton.addEventListener("click", () => {
            modal.classList.toggle("d-none");
        });
    });
</script>