<!-- filters -->
<ul class="btn-group w-100 m-0 p-0">
    <li class="btn btn-light"><a href="/tvlist">All TV/Movies</a></li>
    <li class="btn btn-light"><a href="/tvlist?status=current">Currently Watching</a></li>
    <li class="btn btn-light"><a href="/tvlist?status=completed">Completed</a></li>
    <li class="btn btn-light"><a href="/tvlist?status=onhold">On Hold</a></li>
    <li class="btn btn-light"><a href="/tvlist?status=dropped">Dropped</a></li>
    <li class="btn btn-light"><a href="/tvlist?status=planned">Plan to Watch</a></li>
</ul>
<table class="w-100">
    <tr>
        <th>&nbsp;</th>
        <th class="ps-2 pe-2">#</th>
        <th class="ps-2 pe-2">Image</th>
        <th class="ps-2 pe-2">Title</th>
        <th class="ps-2 pe-2">Score</th>
        <th class="ps-2 pe-2">Type</th>
        <th class="ps-2 pe-2">Progress</th>
    </tr>
    <% for (let i = 0; i < data.length; i++) { %>
        <tr>
            <td style="background-color: <%= status_colors[ data[0].status ] %>;">&nbsp;</td>
            <td><%= i+1 %></td>
            <td><img src="<%= data[0].image %>"></td>
            <td><%= data[0].title %></td>
            <td><%= data[0].score %></td>
            <td><%= data[0].type %></td>
            <td>
                S<%= data[0].progress.season %>
                E<%= data[0].progress.episode %>
            </td>
        </tr>
    <% } %>
</table>