<td><%= index %></td>
<td><img src="<%= image %>" alt="" width="210" height="auto"></td>
<td><%= name %></td>
<td><span class="fw-bold"><%= rating %></span></td>
<td>
    <% if (imdb != "N/A") { %>
        <a href="https://www.imdb.com/title/<%= imdb %>">IMDB</a>
    <% } else { %>
        <p>Not Found</p>
    <% } %>
</td>
<td><button onclick="addToMovieList(<%= index %>)">Add</button></td>