<td><%= index %></td>
<td><img src="<%= image %>" alt=""></td>
<td><%= name %></td>
<td><%= rating %></td>
<td><a href="https://www.imdb.com/title/<%= imdb %>">IMDB</a></td>
<td><button onclick="addToList(<%= index %>)">Add</button></td>