<%- include("components/header", {}) %>
<div class="container">
    <% if (authenticated) { %>
        <div class="d-grid justify-content-end">
            <a href="/logout">Logout</a><br>
            <a href="/profile">My List</a><br>
            Hi <%= username %>!
        </div>
        <%- include("components/searchbar", { search: search }) %>
        <%- include("components/tvlist", {data: tvdata}) %>
        <%- include("components/movielist", {data: moviedata}) %>
    <% } else { %>
        <a href="/login">Login</a>&nbsp;<a href="/signup">Sign Up</a>
    <% } %>
</div>
<%- include("components/footer") %>